*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	box-shadow: 0 0 40px gray;
}
.container p{
	margin-top: 20px;
	color: gray;
}

.banner{
	width: 450px;
	height: 400px;
	background-color: white;
	display: flex;
	justify-content: center;
}

.banner img{
	width: 80%;
	height: 100%;
}

.form-container{
	width: 450px;
	height: 400px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-container h2{
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	margin-top: 20px;

}

.form-container form{
	width: 80%;
	margin-top: 2rem;
}
.form-container form input{
	display: block;
	width: 100%;
	height: 2.5rem;
	padding: 0 .5rem;
	border-radius: 20px;
	font-size: 15px;
	margin-top: 0.5rem;
	outline: none;
	background-color:rgb(241, 241, 241);
	border: none;
	padding-left: 30px;
}

.btn{
	margin-top: 2rem;
	height: 2.5rem;
	width: 40%;
	border: none;
	outline: none;
	border-radius: 6px;
	font-size: 16px;
	box-shadow: 0 5px 5px white;
	background-color: #6e5af1;
	color:white;
	transition: .3s;
	cursor: pointer;
	font-family:cursive;
}

.btn:hover{
	background-color: blueviolet;
	color: white;
}
.social-sign-in{
    display: flex;
    gap: 15px;
}
.input-google{
    width: 100%;
	margin-top: 20px;
    height: 50px;
    padding: 0 20px;
    background: #FFF;
    border: 1px solid #CCC;
	border-radius: 8px;
	cursor: pointer;
}
.input-google img{
    width: 20px;
}

.input-facebook{
    width: 100%;
	margin-top: 20px;
    height: 50px;
    padding: 0 20px;
    background: #FFF;
    border: 1px solid #CCC;
	border-radius: 8px;
	cursor: pointer;
}
.input-facebook img{
    width: 20px;
	
}

.input-google:hover,
.input-facebook:hover{
    opacity: 0.9;
}

@media only screen and (max-width: 700px){

	body{
		height: 100%;
	}
	.container{
		margin: 2rem 0;
		flex-direction: column;

	}

}